*.egg-info
.vscode
.env
__pycache__
.envtest
.coverage*
.env*
wandb
*.pex
.pexing
whisper
data/eval
data/untrainable
data/00000
data/00000_seg
data/02449
data/bad_data
data/sanity_check
data/filtering_viz
data/test
data/metadata
data/440K_metadata
checkpoints
*.out
logs/training
logs/data/download
logs/data/evals