datasets
fire
jiwer
langdetect
librosa
pandas
pycld2
pydub
pysrt
pytest
regex
scipy
tiktokens
torch
torchaudio
tqdm
triton
webvtt_py
yt-dlp
wandb
tiktoken
seaborn
numpy
moviepy
fastparquet
openai-whisper
