datasets
fire
jiwer
langdetect
librosa
pandas
pydub
pysrt
pytest
regex
scipy
torch
torchaudio
tqdm
webvtt_py
yt-dlp
wandb
tiktoken
seaborn
numpy
moviepy
fastparquet
openai-whisper
webdataset
transformers
IPython
wget