fire
pysrt
regex
torch
torchaudio
tqdm
webvtt_py
openai-whisper
ray
pandas
pyarrow
numpy
fastparquet
transformers
IPython
langdetect
moviepy
seaborn
yt-dlp
pytest
librosa
pydub
jiwer
tabulate
Levenshtein
soundfile
datasets